@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D0D0D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nft .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "BaseNeue";
  src:
    local("BaseNeueRegular"),
    url("assets/fonts/BaseNeue/BaseNeueTrial-Regular.ttf")
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BaseNeue";
  src:
    local("BaseNeueExtraBold"),
    url("assets/fonts/BaseNeue/BaseNeueTrial-WideExtraBold.ttf")
      format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "BaseNeue";
  src:
    local("BaseNeueTrialBlack"),
    url("assets/fonts/BaseNeue/BaseNeueTrial-Black.ttf")
      format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "BaseNeue";
  src:
    local("BaseNeueCondensedBold"),
    url("assets/fonts/BaseNeue/BaseNeueTrial-CondensedBold.ttf")
      format("truetype");
  font-weight: 700;
}


@font-face {
  font-family: "BaseNeue";
  src:
    local("BaseNeueCondSemBd"),
    url("assets/fonts/BaseNeue/BaseNeueTrial-CondSemBd.ttf")
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoRegular"),
    url("assets/fonts/Lato/Lato-Regular.ttf")
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoMedium"),
    url("c/fonts/Lato/Lato-Regular.ttf")
      format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoLight"),
    url("assets/fonts/Lato/Lato-Light.ttf")
      format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoBold"),
    url("assets/fonts/Lato/Lato-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoSemiBold"),
    url("assets/fonts/Lato/Lato-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src:
    local("LatoExtraBold"),
    url("assets/fonts/Lato/Lato-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
}


@font-face {
  font-family: "Montserrat";
  src:
    local("MontserratBlack"),
    url("assets/fonts/Montserrat/Montserrat-Black.ttf")
      format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("MontserratBold"),
    url("assets/fonts/Montserrat/Montserrat-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("MontserratSemiBold"),
    url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
}

.join-us input:focus {
  outline: none;  
  border: 1px solid #7301FF;
  background: linear-gradient(#000 0 0) padding-box, /*this is your grey background*/ linear-gradient(to right, #1882CF, #1882CF) border-box;
}

.join-us input:focus-visible {
  outline: none;  
  background: linear-gradient(#000 0 0) padding-box, /*this is your grey background*/ linear-gradient(to right, #1882CF, #1882CF) border-box;
}

.join-us input{
  color: #999999;
  border-radius: 25px;
  background: linear-gradient(#000 0 0) padding-box, /*this is your grey background*/ linear-gradient(to right, #85468B, #7B2375) border-box;
  color: #ffffffde;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  display: inline-block;
 }

 .invalid-input {
  border-color: red;
  animation: shake 0.5s ease-in-out;
}

.join-us button {
  background: linear-gradient(to right, #FA00FF, #FFC700);
}

header button {
  background: linear-gradient(to right, #E601FF, #7301FF);
}

.thanks-text {
  background: linear-gradient(275deg, #1aac1a -0.94%, #088908 103.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error-text {
  background: linear-gradient(275deg, #c25555 -0.94%, #d23232 103.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


@keyframes slideAndFade {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(-20px, 51px, 380px) scale(0.5);
    opacity: 0;
  }
}
@keyframes slideAndFade2 {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(31px, 33px, 380px) scale(0.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}

.gradient-text {
  background: linear-gradient(275deg, #FBDBE5 0%, #D4ADFF 47%, #DDE1FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.number {
  position: absolute;
  top: 0;
  font-size: 36px;
  width: 73px;
    height: 44px;
  opacity: 1;
  animation: slideAndFade 1.9s linear infinite;
  animation-delay: 1.1s;
}

.number2 {
  position: absolute;
  top: 0;
  font-size: 36px;
  width: 73px;
    height: 44px;
  opacity: 1;
  animation: slideAndFade2 1.9s linear infinite;
  animation-delay: 2.1s;
}

.number3 {
  position: absolute;
  top: 0;
  font-size: 36px;
  opacity: 1;
  animation: slideAndFade 1.8s linear infinite;
}

.gaming-modes .swiper-button-next {
  top: 160px;
  color: #fff;
}

.gaming-modes .swiper-button-prev {
  top: 160px;
  color: #fff;
}


.swiper-button-prev, .swiper-button-next {
  top: 80px;
  color: #fff;
}

@media (max-width: 767px) {

  .gaming-modes .swiper-button-next {
    right: 0px;
  }

  .swiper-button-next .swiper-button-prev {
    left: 0px;
  }

  .about-us .swiper-button-next {
    right: 70px;
  }

  .about-us .swiper-button-prev {
    left: 70px;
  }

  .text-adptive-xl{
    font-size: calc(36px + (12 + 12 * 0.7) * ((100vw - 626px) /1280));
}

  .text-adptive-l{
    font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 626px) /1280));
}
}

.test {
  position: absolute;
    top: -10px;
    width: 1280px;
    left: 50%;
    /* left: 20px; */
    margin: auto;
    left: 50%;
    /* top: 26%; */
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
}


.gradient-border {
  position: relative;
  padding: 1rem;
  background: #0D0D0D;
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 0px 37px #7C37D4;

}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -2px; bottom: -2px; left: -2px; right: -2px;
  background: linear-gradient(270deg, #C23CE6, #7C37D4);
  z-index: -1;
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite; /* Плавный переход */
  border-radius: inherit; /* Скругленные углы для градиента */
}




.shadow-lg-center-4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 38%;
  box-shadow: -1px -2px 30px 20px rgba(55, 61, 212, 0.5);
  transition: box-shadow 0.3s ease;
  z-index: -1;
}
.shadow-lg-center-4:hover::before {
  box-shadow: -1px -2px 40px 30px rgba(55, 61, 212, 0.5);
}


.shadow-lg-center {
  position: relative;
}
.shadow-lg-center-1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 38%;
  box-shadow: -1px -2px 30px 20px rgba(55, 61, 212, 0.5);
  transition: box-shadow 0.3s ease;
  z-index: -1;
}
.shadow-lg-center-1:hover::before {
  box-shadow: -1px -2px 40px 30px rgba(55, 61, 212, 0.5);
}

.shadow-lg-center-2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 38%;
  box-shadow: -1px -2px 30px 20px rgba(255, 149, 1, 0.5);
  transition: box-shadow 0.3s ease;
  z-index: -1;
}
.shadow-lg-center-2:hover::before {
  box-shadow: -1px -2px 40px 30px rgba(255, 149, 1, 0.5);
}

.shadow-lg-center-3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 38%;
  box-shadow: -1px -2px 30px 20px rgba(124, 55, 212, 0.5);
  transition: box-shadow 0.3s ease;
  z-index: -1;
}
.shadow-lg-center-3:hover::before {
  box-shadow: -1px -2px 40px 30px rgba(124, 55, 212, 0.7);
}

.marquee {
  width: 600px;
  overflow: hidden;
  position: absolute;
  top: 140px;

    transform: rotate(45deg);
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.react-parallax {
  position: absolute !important;
  overflow:visible !important;
  will-change: transform;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust this value to control the height of the movement */
  }
}

.rocket {
  animation: moveUpDown infinite;
}
